/* * {
    padding:0;
	margin:0;
} */

body
{
    padding:0;
	margin:0;
	background-color: antiquewhite;
}

.clear {
	clear: both;
}

.noclear {
	clear:none;
}

h1,div,h2,h3,img {
    padding:0;
	margin:0;
}

#figure1 {
	float:left;
}

#header {
	text-align:center;
	height: 100px;
}

#links {
	/* position:absolute;
	top:120px;
	left:0px; */

	background-color: yellow;

	width:20%;

	float:left;
	clear:none;
}

#authorinfo {
	background-color: red;

	/* position: absolute;
	top: 120px;
	right: 0px;*/
	width: 30%;

	float:left;
	clear:none;
}

#content {
	background-color: green;
	/* margin-left: 105px;
	margin-right: 305px; */

	width:50%;
	float:left;
	clear:none;
}
