body
{
    
}

#buttons {
	margin: 100px 0;
}

#buttons input {
	width: 220px;
}

/* #buttons input:last-child {
	position: relative;
	*/

	/* top: 20px;
	left: 50px; */

	/* bottom:20px;
	right:50px; */

	/* top: -20px;
	left: -50px; */
/*
	top: 220px;
	left: -185px;
} */

/* 
.temp {
	position: relative;
	top: 50px;
	left: 20px;
} */


/* #buttons input:last-child {
	position: absolute;
	top: 20px;
	left: 100px;
} */
/* 
#buttons input:last-child {
	position: fixed;
	top: 20px;
	left: 100px;
} */


#figure1 {
	float: left;
	margin-right: 5px;
}

.clear {
	clear: both;
}