/* * {
    padding:0;
	margin:0;
} */

body
{
    padding:0;
	margin:0;
	background-color: antiquewhite;
}

.clear {
	clear: both;
}

.noclear {
	clear:none;
}

h1,div,h2,h3,img {
    padding:0;
	margin:0;
}

#figure1 {
	float:left;
}

#header {
	text-align:center;
	height: 100px;
}

#authorinfo {
	position: absolute;
	top: 120px;
	right: 0px;
	width: 300px;

	/* background-color: yellow; */
	background-color: lightgray;
	/* width: 300px; */

	 /* margin-left: 610px;  */

	/* border-color: black;
	border-width: 2px; */
}

#content {
	/* position: absolute;
	top: 100px;
	left: 5px; */
	/* width: 600px; */

	/* float:left;
	clear:none; */

	background-color: red; 
	/* background-color: lightgray; */
	/* margin-left: 310px;  */

	/* border-color: black;
	border-width: 2px; */

	margin-left: 105px;
	margin-right: 305px;
}

#links {
	position:absolute;
	top:120px;
	left:0px;
	width:100px;
	background-color: yellow;
}